@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.hero-text {
  color: #ffffff;
}

.hero-text p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 4rem;
  line-height: 1.05;      /* close stacked lines like the design */
}

.hero-text span {
  color: #C465FF;         /* precision & passion in purple */
}
